.main-content {
  position: absolute;
  width: 100%; /* Set width to 100% to make it responsive */
  max-width: 28500px; /* Limit the maximum width */
  left: 50%; /* Set left to 50% */
  transform: translateX(-50%); /* Adjust the position to center */
  /* background: linear-gradient(135deg, #3e7cb4, #86a8e7); Apply the gradient to the entire body */
  background-color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1px; /* فاصله بین دو بخش */
}

.subtitle {
  position: relative;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  line-height: normal;
  font-size: 15px;
  color: #000000;
  border-bottom: 2px solid #ddd;
  padding-bottom: 3px;
  margin: 30px;
}

/* Add responsive styles for the video container */
.ad_video {
  position: relative;
  padding: 10px 50px;
  overflow: hidden;
}

/* Style the video element */
.ad_video video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .ad_video {
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }

  .ad_video video {
    height: 100%; /* Adjust height for smaller screens */
  }
}


/* نمونه استایل‌های ریسپانسیو برای کلاس .main-content */
@media (max-width: 768px) {
  .main-content {
    font-size: 14px;
    /* هماهنگ‌سازی محتوا برای نمایش ریسپانسیو با اندازه کوچک‌تر */
  }
}

/* استایل برای اندازه‌های بسیار کوچک‌تر از 420px */
@media (max-width: 420px) {
  .main-content {
    font-size: 12px;
    /* هماهنگ‌سازی محتوا برای نمایش در اندازه‌های کوچک‌تر */
  }
}
