/* Styles for larger screens */
.menu {
    position: relative;
    background: #085d96;
    padding: 15px;
    text-align: center;
    border-style: ridge;
    margin-top: 10px;
    z-index: 2; /* Added z-index for the main menu */
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display menu horizontally */
    justify-content: right; /* Align menu items at the center */
}

.menu-list li {
    margin-right: 20px; /* Spacing between menu items */
    position: relative;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    z-index: 2; /* Added z-index for the main menu items */
}

.menu-list li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #085d96;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 3; /* Added z-index for submenus */
}

.menu-list li:hover ul {
    display: flex;
    flex-direction: column;
}

.menu-list li ul li {
    margin: 0;
}

.menu-list li ul li a {
    color: #fff;
    padding: 10px;
    display: block;
}

.menu-toggle {
    display: none;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .menu {
        padding: 0;
        text-align: left;
        z-index: 2;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-list.active {
        display: flex;
    }

    .menu-list li {
        margin: 10px 0;
        position: relative;
    }

    .menu-list li a {
        display: block;
        color: #002c52;
    }

    .menu-list li ul {
        position: static;
        background: #085d96;
        display: none;
        z-index: 3;
        border-top: 2px solid #fff;
    }

    .menu-list.active > ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .menu-list.active > a {
        color: #002c52;
    }

    .menu-list li ul li {
        margin: 0;
    }

    .menu-list li ul li a {
        color: #fff;
        padding: 10px;
        display: block;
    }

    .menu-toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        background: none;
        border: none;
        color: #002c52;
        font-size: 24px;
        cursor: pointer;
        z-index: 4;
    }
}
