/* Styles for larger screens */
.menu {
    position: relative;
    background: linear-gradient(135deg, #3e7cb4, #86a8e7);
    padding: 15px;
    text-align: center;
    border-style: ridge;
    margin-top: 10px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display menu horizontally */
    justify-content: center; /* Align menu items at the center */
}

.menu-list li {
    margin-right: 20px; /* Spacing between menu items */
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .menu {
        padding: 0;
        text-align: left;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        text-align: center; /* Align text at the center for smaller screens */
    }

    .menu-list.active {
        display: flex;
    }

    .menu-list li {
        margin: 10px 0;
    }

    .menu-list li a {
        display: block;
        color: #002c52;
    }

    .menu-toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        background: none;
        border: none;
        color: #002c52;
        font-size: 24px;
        cursor: pointer;
    }
}
