/* بخش CSS کد اصلی */
/* اسلایدر */
.slider-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #ccc; /* خط بردار بالای اسلایدر */
  margin-top: 30px; 
  }
  
  .slider2 {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide2 {
    min-width: 300px;
    padding: 20px;
    text-align: center;
  }
  
  .slide2 img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 15px;
  }
  
  button.buy-btn {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .product-info {
    margin: 5px 0;
  }
  
  .quantity-left {
    color: red;
  }
  
  .prev2, .next2 {
    position: absolute;
    top: 50%;
    transform: translateY(-0%);
  }
  
  .prev2 {
    left: 0;
  }
  
  .next2 {
    right: 0;
  }
  
  /* برای صفحات با اندازه کوچکتر از 768px */
/* برای صفحات با اندازه بزرگتر از 1200px */
@media (min-width: 1200px) {
  .slider-container2 {
    width: 80%; /* عرض اسلایدر را به حالت اولیه باز می‌گرداند */
  }
}

/* برای صفحات با اندازه بین 769px تا 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
  .slider2 {
    flex-wrap: wrap;
  }

  .slide2 {
    width: 50%; /* دوتا ایتم در هر ردیف */
    box-sizing: border-box;
    padding: 15px;
  }

  .prev2, .next2 {
    display: none;
  }
}

/* برای صفحات با اندازه کوچکتر از 769px */
@media (max-width: 768px) {
  .slider2 {
    flex-wrap: nowrap; /* ایتم‌ها به صورت افقی قرار می‌گیرند */
  }

  .slide2 {
    width: 100%; /* یک ایتم در هر ردیف */
    box-sizing: border-box;
    padding: 15px;
  }

 
}
