/* Slideshow Container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 50px;
}

/* Slides */
.mySlides {
  display: none;
}

/* Previous and Next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.prev {
  right: 0;
  border-radius: 3px;
}

.next {
  left: 0;
  border-radius: 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Text and Number text styles */
.text {
  color: black;
  font-size: 23px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dot indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}

/* Static Image */
.static-image {
  margin-top: 50px;
  display: grid;
  grid-template-rows: auto;
}

.image-with-transition {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
}

.image-with-transition img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.image-with-transition:hover img {
  transform: scale(1.1);
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
  .slideshow-container {
      max-width: 100%;
  }
}
